@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: 228 51% 5%;
    --background: 0 0% 100%;
    --foreground: 0 1% 6%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary-strong: 222 69% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 2 100% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 10% 93%;
    --input: 0 0% 94%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 10px;
    --black: 0 1% 6%;
    --error: 2 100% 50%;
    /* line */
    --line: 230 8% 30%;
    /* label */
    --label: 230 8% 30%;
    --label-natural: 229 8% 40%;
    --label-strong: 0 0% 0%;
    --label-alternative: 231 8% 68%;
    /* status */
    --status-clear: 219 100% 64%;
    --status-error: 348 83% 47%;
    --status-success: 141 71% 48%;
  }
  .dark {
    --background: 0 0% 100%;
    --foreground: 0 1% 6%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-strong: 222 69% 47%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --black: 0 1% 6%;
    --error: 2 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

p,span {
  @apply whitespace-pre-line
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.quill-viewer img {
  display: inline-block;
  margin: 0 auto;
}

.ql-align-center img {
  display: block;
  margin: 0 auto;
}

.ql-link svg .ql-stroke {
  stroke: #a7a9b4 !important;
}

.ql-link svg .ql-fill {
  fill: #a7a9b4 !important;
}

.ql-bold {
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
}

.ql-bold svg {
  width: 24px !important;
  height: 24px !important;
}

.ql-link svg {
  width: 24px !important;
  height: 24px !important;
}
.ql-link {
  width: 24px !important;
  height: 24px !important;
  padding: 0 !important;
}

.quill-viewer a {
  text-decoration: underline !important;
}
